<div class="container-fluid ">

  <header>
</header>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Students</a>
    </div>
    <ul class="nav navbar-nav">
          <li><a href="/home">Home</a></li>
          <li><a href="/manage">Manage</a></li>
          <li><a href="/new">New Student</a></li>
          <li><a href="/statistic">Graph Student</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Subjects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="dropdown"><a tabindex="-1" href="/computer">Computer</a></li>
                    <li class="dropdown"><a tabindex="-1" href="/math">Math</a></li>
                    <li class="dropdown"><a tabindex="-1" href="/literature">Literature</a></li>
              </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Quarter<b class="caret"></b></a>
              <ul class="dropdown-menu">
                    <li class="dropdown"><a tabindex="-1" href="/quarter">Q1-2001</a></li>
                    <li class="dropdown"><a tabindex="-1" href="/quartertwo">Q1-2002</a></li>
                    <li class="dropdown"><a tabindex="-1" href="/quarterthree">Q1-2003</a></li>
              </ul>
          </li>
          
    </ul>
  </div>
</nav>
  
{{outlet}}
<nav class="navbar navbar-inverse">
  <div class="Footer">
    <font color="white" size="2" ><p align="center"><strong>Copy Right@2016 Constantinos Onisiforou</strong></p></font>
  </div>
</nav>

</div>