<div><h1> Student Application</h1></div>


<div class="container">
  <div class="jumbotron">
    <h1>Soft-Impact</h1>      
    <p>The exercise includes a front-end language which is called Ember.js and back-end Bottle python framework as an API.</p>
  </div>
</div>

